<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <% if logged_in? %>
  <header>
    logged in as <%= current_user["email"] %>
    <form action="/logout" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
  </header>
  <% end %>

  <h1>buzz feed 2.0</h1>

  <nav>
    <a href="/buzzwords">all buzzwords</a>
    <a href="/buzzwords/new">post new buzzword</a>
  </nav>

  <%= yield %>
</body>
</html>