<h1>login</h1>

<form action="/login" method="post">
  <label for="">email</label>
  <input type="email" name="email">
  <label for="">password</label>
  <input type="password" name="password">
  <button>login</button>
</form>
